<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PizzaApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source = .; Initial Catalog = PizzaAppDB; Integrated Security = True;"
            providerName="System.Data.SqlClient" /> 
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Margheritta" value="20" />
    <add key="Vegetariana" value="22" />
    <add key="Tosca" value="25" />
    <add key="Venecia" value="25" />
    <add key="Salami" value="2" />
    <add key="Double Cheese" value="2" />
    <add key="Ham" value="2" />
    <add key="Mushrooms" value="2" />
    <add key="Porkhop" value="30" />
    <add key="Fish" value="28" />
    <add key="Hungarian Cake" value="27" />
    <add key="Tomato Soup" value="12" />
    <add key="Chicken Soup" value="10" />
    <add key="Coffie" value="5" />
    <add key="Tea" value="5" />
    <add key="Cola" value="5" />
  </appSettings>
  <applicationSettings>
    <PizzaApp.Properties.Settings>
      <setting name="Email" serializeAs="String">
        <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA2B+pw1SPMUqTDRyjMnk3mQAAAAACAAAAAAAQZgAAAAEAACAAAAArXgs8eFIT07pfn01aL0kVTn/SJqDMFjn0fp6/1BnNMAAAAAAOgAAAAAIAACAAAAChejkDI+iSRXm8nD6f1ri18ijdDuCohTww2Kc7p1LdUkAAAADjzUuUcjLtsYoGFFZh29Tj8YFZ4y1snFCxrNZnepENpBVHnvEYLEhwCZa7BX//jxlCizH388kqdKkoZ6Yjc+7+QAAAACWgAsPOQPxAqUMmvVssmk81WrBwqzNZ8dqEE1ATJjb+FLP/QEwoelJmedKMGUaDzQVg0K+XR4lK0+xvn+Jkf9I=</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAyKIuXEsh+k6DnjTIYBuw8wQAAAACAAAAAAAQZgAAAAEAACAAAABDpTM9hoN2yvQI2PrzVa9BVxisfNYd+oXS9h9aqKpwxwAAAAAOgAAAAAIAACAAAADFE6/y8AmYVn9nJZFsR0bEEjXBJmn+8CF9oV9aq8PFDTAAAACjwXwaleTd9N7DZrQzTG4wPGj7RiPwLxXb0it+ips7cR2t/vvN8cOJwEBTjw9yuKBAAAAAWzVXDNCeCiQ/J+2UxkB+hmm2uM6VFyQMiCvRWQjKju7mh+rHhgCxOrRydGcq4r2sNLCNzms8Ted+gKjkHgJ92w==</value>
      </setting>
    </PizzaApp.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>